/* Header */
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

.header .logo img {
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.header .logo img:hover {
    transform: scale(1.1);
}

.header .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header .nav-links a {
    color: #f3f4f6;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.header .nav-links a:hover {
    color: #007BFF;
}

.search-container {
    display: flex;
}

#searchBar {
    padding: 8px 12px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.publicacion-detalle {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: auto;
}

.publicacion-detalle h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.publicacion-detalle img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.publicacion-detalle p {
    font-size: 18px;
    margin: 5px 0;
}
